@import "./cmps/nav-bar.css";
/* @import "./cmps/footer.css"; */
@import "./apps/email/cmps/side-bar.css";

color-pallete {
    color: #383D3B;
    color: #EEE5E9;
    color: #f7f5f5;
    color: #7C7C7C;
    color: #92DCE5;
    color: #52DEE5;
} 


body {
    background-color: #f7f5f5;
}

/* Helpers  */

/* Email app */

.email-app-container {
    display: flex;

}

.emails-container li {
    display: block;
    width: 100%;
}

.flex {
    display: flex;
}

.flex.space-between {
    justify-content: space-between;
}

.clean-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
}