@import "./fonts/fonts.css";
@import "./cmps/nav-bar.css";
@import "./cmps/footer.css";
@import "./pages/home.css";
@import "./apps/email/cmps/side-bar.css";
@import "./apps/email/cmps/email-list.css";
@import "./apps/keep/cmps/note-create.cmp.css";
@import "./apps/keep/cmps/note-gallery.cmp.css";

color-pallete {
    color: #383D3B;
    color: #EEE5E9;
    color: #f7f5f5;
    color: #7C7C7C;
    color: #92DCE5;
    color: #52DEE5;
    color: #000000;
    color: rgba(146, 220, 229, 0.3)
}

* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100vh;
    margin: 0;
}

body {
    background-color: #f7f5f5;
    margin: 0 auto;
    font-family: roboto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

a {
    text-decoration: none;
}

a:visited {
    color: #000000;
}

.hidden {
    display: none;
}

/* Email app */

.email-app-display {
    width: 100vh;
}

.email-app-container {
    margin: 10px;
}

/* Email preview  */

.email-preview-container {
    background-color: rgba(146, 220, 229, 0.3);
}

.email-preview-container img {
    max-width: 1rem;
}

.email-preview-subject {
    font-size: 2rem;
}

/* Helpers  */

.flex {
    display: flex;
}

.flex.space-between {
    justify-content: space-between;
}

.clean-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
}