nav {
    align-items: center;
    background-color: #52DEE5;
    color: black;
    min-height: 80px;
}

nav img {
    max-width: 1rem;
    display: inline-block;
    vertical-align: middle;
}

.nav-bar-list li a {
    text-decoration: none;
    padding-left: 10px;
}