nav {
    align-items: center;
    background-color: #52DEE5;
    color: black;
    min-height: 80px;
}

.logo-name {
    flex: 1;
}

.nav-bar-list li {
    flex: 1;
}

nav img {
    max-width: 1rem;
    vertical-align: middle;
}